<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/account.css">
    <script src="/js/userSystem.js"></script>
    <script src="/js/account.js"></script>
</head>

<body>
    <script>
        document.addEventListener('DOMContentLoaded', updateRank);
    </script>
    <img src="/image/FlyDreamAirLogo.png" alt="Logo" id="fda" style="width:300px">
    <div class="nav">
        <ul>
            <li><a href="main.html">Home</a></li>
            <li><a href="earn.html">Earn</a></li>
            <li><a href="spend.html">Spend</a></li>
            <li style="float: right">
                <a href="account.html">Account</a> |
                <a href="#" onclick="signOut()">Log Out</a>
              </li> 
            <li style="float: right;font-size: 16px;font-weight:bold;color:#8338ec;"> FlyDreamAir Points: <span id="points"></li>
        </ul>
    </div>
    <br/>
    <div class="account_page">
        <div class="form-container">
            <div class="form-column">
                <form id="accountForm" onsubmit="return false;">
                    <table>
                        <tr>
                            <td colspan ="2"><b style="font-size:24px;">Name:</b> <span style ="font-size: 22px;" id="name"></span></td>
                            <td></td>
                            <td style="text-align: right; width:40%;">
                                <h1 style="font-size: 24px;" id="rank"></h1>
                              </td>
                        </tr>
                        <tr>
                            <td>Enter your new name:</td>
                            <td><input style="width: 200px; height: 22px;" type="text" id="user_change"></td>
                            <td><button type="button" onclick="changeName()">Change Name</button></td>
                            <td rowspan ="4"><img id="rankImage" src="" alt="Rank Image"></td>
                        </tr>
                        <tr>
                            <td colspan="3"><hr></td>

                        </tr>
                        <tr>
                            <td colspan ="2"><b style="font-size:24px;">Password</b></td>
                        </tr>
                        <tr>
                            <td>Enter new password:</td>
                            <td><input style="width: 200px; height: 22px;" type="password" id="pwd"></td>
                            <td rowspan ="2"><button type="button" onclick="changePassword()">Change password</button></td>
                        </tr>
                        <tr>
                            <td>Re-Enter new password:</td>
                            <td><input style="width: 200px; height: 22px;" type="password" id="repwd"></td>
                            <td><span style="color: red;" id="pwdErr"></span></td>
                        </tr>
                        <tr>
                        </tr>  
                    </table>
                    <hr>
                    <br>
                    <button style="margin-right: 120px;" id="signout-btn" type="button" onclick="signOut()">Sign Out</button>
                    <button style="margin-left: 150px; font-family: 'Dosis', sans-serif;" onclick="location.href='main.html'">Back Home</button>
                    <button style="margin-left: 250px;" onclick="deleteAccount()"><b>DELETE ACCOUNT</b></button>
                </form>
            </div>
        </div>
    </div>
    <!-- Popup for changing name function -->
    <div id="popup-1" class="popup">
        <div class="popup-content">
            <div class="close-btn" id="close-button" onclick="changeName()">&times;</div>
            <h1>Your name has been changed successfully!</h1>
            <img src="/image/checked.png" alt="check" style="width: 80px;">
        </div>
    </div>

    <!-- Popup for changing password  -->
    <div id="change-password" class="popup">
        <div class="popup-content">
            <div class="close-btn" id="close-button1" onclick="changePassword();">&times;</div>
            <h1>Your password has been changed successfully!</h1>
            <img src="/image/checked.png" alt="check" style="width: 80px;">
        </div>
    </div>
</body>

</html>
