<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/main.css">
        
        <script src="/js/userSystem.js"></script>
    </head>

    <body>
            <img src="/image/FlyDreamAirLogo.png" alt ="Logo" id="fda" style="width:300px">

        <div class="nav">
            <ul>
                <li><a href="main.html">Home</a></li>
                <li><a href="earn.html">Earn</a></li>
                <li><a href="spend.html">Spend</a></li>
                <li style="float: right;"><a href="account.html">Account</a></li>
            </ul>
        </div>
        <br />
        <div>            
           <h1 style="color: white;">Order confirmed!</h1><br>
            <button class = "btn" onclick="location.href='main.html'">Return to Home</button>
        </div>
    </body>
</html>
