<!DOCTYPE html>
<html>
    <head>
        <script src="/js/userSystem.js"></script>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/global.css">
    </head>
    <body>
        <img src="/image/FlyDreamAirLogo.png" alt ="Logo" id="fda" style="width:300px">
        <div class="container">
            <div id="main">
                <form action="main.html"></form>  
                    <table>
                        <tr>
                            <td class="text">
                                Username:
                            </td>
                                <td class="input">
                                    <input type="text" id="un" class="input" placeholder="Username">
                            </td>
                        </tr>
                        <tr>
                            <td class="text">
                                Password:
                            </td>
                            <td>
                                    <input type="password" id="pw" class="input" placeholder="Password">
                            </td>
                        </tr>
                    </table>
                    <span style="color: red;" id="passCheck"></span><br><br>
                    <input class="button" type="submit" onclick="checkLogin()" value="Login"><br />
                    <input class="button" type="button" onclick="location.href='signup.html';" value="Sign up">
                </div>
        </div>
        <br/>    
            
    </body>
</html>
