<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes">

        <script src="/js/userSystem.js"></script>
    </head>

    <body>
        <img src="/image/FlyDreamAirLogo.png" alt ="Logo" id="fda" style="width:300px;">
        <form action="javascript:void(0);" method="get" id="signupForm">
            <div id="main">
                <table>
                    <tr>
                        <td class="text">
                            Name:
                        </td>
                        <td class="input">
                            <input type="text" name="name" id="name">
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            Username:
                        </td>
                        <td class="input">
                            <input type="text" name="username" id="username">
                        </td>
                    </tr>
                    <tr>
                        <td class="text">
                            Password:
                        </td>
                        <td class="input">
                            <input type="password" name="password" id="password">
                        </td>
                    </tr>
                    <tr>
                        <p id="passwordTest"></p>
                    </tr>
                </table>
                <span style="color: red" id="userCheck"></span><br><br>
                <input class="button" type="submit" onClick="createUser();" value="Sign up">
            </div>
        </form>
    </body>
</html>
